<mat-toolbar class="nav">
  <button mat-icon-button  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span>My App</span> -->
  <header class="brand-name">
    <img
      class="brand-logo"
      src="/assets/logo.svg"
      alt="logo"
      aria-hidden="true"
    />
  </header>
  <span class="example-spacer"></span>

  <div style="display: flex; align-items: center;">
    <span>Hi, {{ userProfilex.given_name }} !</span>
    <!-- Add some horizontal space -->
    <div style="width: 15px;"></div>
  </div>


  <!-- <mat-icon>favorite</mat-icon> -->
  <div class="profile-photo">
    <img [src]="userProfilex.picture" alt="Profile Photo" />
  </div>

  <!-- Button with an icon and text -->
  <button mat-button (click)="handleSignOut()">

    Sign Out
  </button>
</mat-toolbar>

<!-- <div class="user-card">
  <div class="profile-photo">
    <img [src]="userProfile.picture" alt="Profile Photo" />
  </div>
  <div class="user-info">
    <h2>{{ userProfile.given_name }} {{ userProfile.family_name }}</h2>
    <p>{{ userProfile.email }}</p>
    <p>ID: {{ userProfile.sub }}</p>
  </div>
</div> -->

